/* The Modal (background) */
.modal1 {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal1 .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation: translateY .5s ease-in-out;
}

/* The Close Button */
.modal1 .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .modal1 .modal-content {
        width: 90%;
    }
}

.modal1 .close:hover,
.modal1 .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes translateY {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}


 .modal-body .map-car {
    max-width: 250px;
    width: 250px;
    margin: 0 auto;
}

.modal-body .map-car .driver img {
    width: 25px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.modal-body .map-car p {
    margin: 0;
    background-color: #555;
    color: var(--white);
    font-size: 12px;
    text-align: center;
}

.modal-body .map-car .map-content {
    padding: 5px 10px;
}

.modal-body .map-car .map-content .desk {
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 4px;
    display: grid;
    place-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.modal-body .map-car .map-content .desk.over {
    background-color: var(--red);
    color: var(--white);

}

.modal-body .map-car .map-content .desk.over:hover {
    cursor: no-drop;
}

.modal-body .map-car .map-content .desk.active {
    background-color: var(--green);
    color: var(--white);
}
.seat_row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.seat_col{
    width: 20%;
}